<div class="ds-roll-details">
    <div class="ds-roll-details__header">
        Roll Simulations Details
    </div>
    <div class="ds-roll-details__input">
        <button (click)="getTotalRollsDetails()">Get Total Roll Details</button>
    </div>
    <div class="ds-roll-details__results">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Dice Count </th>
                    <th> Dice Sides </th>
                    <th> Total Rolls </th>
                    <th> Simulations Count </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let totalRollDetail of totalRollDetails">
                    <td>{{ totalRollDetail.diceCount }}</td>
                    <td>{{ totalRollDetail.diceSides }}</td>
                    <td>{{ totalRollDetail.totalRolls }}</td>
                    <td>{{ totalRollDetail.simulationsCount }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>