@import '~src/assets/shared-style.scss';

.ds-roll-simulator {
    padding: 20px;

    &__header {
        padding: 6px;
        background-color: $primary;
        color: $light;
    }

    &__body {
        padding: 10px;
    }
}