<div class="ds-roll-simulator p-4">
    <div class="ds-roll-simulator__header">
        Dice Simulator
    </div>
    <div class="ds-roll-simulator__body shadow-lg bg-white rounded">
        <div class="ds-roll-simulator__input-form">
            <div class="form-group">
                <label>Dice Count</label>
                <input type="number" [(ngModel)]="selectedDiceCount" min="1" max="100"/>
            </div>
        
            <div class="form-group">
                <label>Dice Sides</label>
                <select 
                    [(ngModel)]="selectedDiceSides">
                    <option *ngFor="let diceOption of diceSidesOptions" [ngValue]="diceOption">{{diceOption}}</option>
                </select>
            </div>
        
            <div class="form-group">
                <label>Roll Count</label>
                <input type="number" [(ngModel)]="selectedRollCount"  min="1" max="500"/>
            </div>
            <button (click)="simulateRoll()">Simulate Roll!</button>
        </div>
        <div>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Roll Sum</th>
                        <th>Number of times rolled</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rollDistributionResult of rollDistributionResults">
                        <td>
                            {{ rollDistributionResult.resultSum }}
                        </td>
                        <td>
                            {{ rollDistributionResult.numberOfTimesRolled }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <span *ngIf="rollDistributionResults.length == 0">
                Such empty. Please roll the dice!
            </span>
        </div>
    </div>
</div>