<nav class="navbar navbar-light ds-navbar" style="background-color: #e3f2fd;">
      <div class="navbar-header">
        <div class="navbar-brand">
            <div class="row">
              <div class="col-md-3"><img src="../../../assets/dice.png" style="width:50px;height:40px;"/></div>  
              <div class="col-md-6">Dice Simulator</div>
            </div>
        </div>
      </div>
</nav>
  