<div class="ds-roll-distribution">
    <div class="ds-roll-distribution__header">
        Roll Distribution Summary for Dice Count and Dice Sides Combination
    </div>    
    <div class="ds-roll-distribution__body">
        <div class="ds-roll-simulator__input-form">
            <div class="form-group">
                <label>Dice Count</label>
                <input type="number" [(ngModel)]="selectedDiceCount" min="1" max="100"/>
            </div>
            <div class="form-group">
                <label>Dice Sides</label>
                <select 
                    [(ngModel)]="selectedDiceSides">
                    <option *ngFor="let diceOption of diceSidesOptions" [ngValue]="diceOption">{{diceOption}}</option>
                </select>
            </div>
        </div>
        <button (click)="getRollDistributionPercentages()">Get Distribution Percentage</button>
        <div class="ds-roll-simulator__results">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Dice Count</th>
                        <th>Dice Sides</th>
                        <th>Result Sum</th>
                        <th>Total Rolls</th>
                        <th>Distribution Percentage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rollDistributionResult of rollDistributionResults">
                        <td>{{rollDistributionResult.diceCount}}</td>
                        <td>{{rollDistributionResult.diceSides}}</td>
                        <td>{{rollDistributionResult.resultSum}}</td>
                        <td>{{rollDistributionResult.totalRolls}}</td>
                        <td>{{rollDistributionResult.distributionPercentage}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>